.App {
  text-align: center;
}

.div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  padding-top: 2px;
  background-color: blueviolet;
}
.registration {
  display: flex;
  gap: 20px;
}
div {
  padding: 5px;
}
.forminput {
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 5%;
}
.forms {
 display: flex;
 justify-content: space-between;
 max-width: 900px;
}
.submit {
  margin: auto;
  vertical-align: middle;
  background-color: rgb(57, 50, 70);
  border-radius: 4px;
  max-width: max-content;
}
.classdata {
  column-gap: 20px;
  margin-left: 5%;
}
.class {  
  display: flex;
  border: 2px solid blueviolet;
  max-width: max-content;
  border-radius: 5%;
  padding: 1%;
  margin-bottom: 10px;
  min-width: 400px;
  gap: 3%;
}