.App {
  text-align: center;
}

.div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #daa520;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  padding-top: 2px;
}
.registration {
  display: flex;
  gap: 20px;
}
div {
  padding: 5px;
}
.Navbar {
  background-color: #1a7911;
  color: #24cedb;
}
.forminput {
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 5%;
}
.forms {
 display: flex;
 justify-content: space-between;
 max-width: 900px;
}
.submit {
  margin: auto;
  vertical-align: middle;
  color: #24cedb;
  background: #1a7911;
  border-radius: 4px;
  max-width: max-content;
}
.classdata {
  column-gap: 20px;
  margin-left: 5%;
}
.class {  
  display: flex;
  border: 2px solid blueviolet;
  max-width: max-content;
  border-radius: 2%;
  padding: 1%;
  margin-bottom: 10px;
  min-width: 400px;
  gap: 3%;
}
.right {
  display: flex;
}
.hidden {
  display: none;
}
.volunteer {
 display: flex;
  border: 3px solid blueviolet;
  max-width: max-content;
  border-radius: 1%;
  padding: 1%;
  margin-bottom: 10px;
  min-width: 400px;
  gap: 3%; 
}
.volunteer p {
  
  border-right: 1px solid blueviolet;
}
.days {
  display: flex
}